/* dac diem chung */
* {  
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dac diem header-menu */
.header-menu {
    height: 150px;
    width: 100%;
    
    /* background cua menu */
    background-image: url("../image/header_background.jpg");
    background-size: 100%;
    background-position: center;

    /* fixed menu */
    position: fixed;
    top: 0;
}

/* dac diem account */

.topbar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: #f2f2f2;
    cursor: pointer;
    border: 1px solid black;
}

.greeting {
    font-size: 10px;
}

.greeting span {
    font-weight: bold;
}

.avatar {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.avatar:hover {
    opacity: 0.8;
}

.avatar svg {
    width: 28px;
    height: 28px;
}

/* dac diem sign out */

.dropdown {
    position: absolute;
    top: 45px;
    right: 5px;
    width: 120px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    padding: 10px;
    display: none;
}

.dropdown-item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
}

.dropdown-item:hover {
    color: red;
}

.dropdown.show {
    display: block;
    text-align: center;
}

/* dac diem button login */
.sign_in_up {
    display: none;
    position: absolute;
    right: 5px;
    padding: 6px;
}

.button-sign_in, .button-sign_up {
    top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid gray;
    transition: opacity 0.3s ease;
}

.button-sign_in:hover, .button-sign_up:hover {
    opacity: 0.8;
}

/* dac diem menu-content */
.menu-content{
    /*size cua menu */
    height: 100px;
    width: 100%;

    /* flex menu */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* decorate menu */
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.menu-link {
    text-decoration: none;
    font-size: 20px;
}

.menu-link:link, .menu-link:visited {
    color: black;
}

.menu-link:hover {
    color: red;
}

.menu-logo img {
    width: 150px;
}

.search-bar {
    text-align: center;
}

.search-bar input{
    width: 400px;
}

/* dac diem phan than */
.hero-section{
    padding-top: 200px;
    background: white;
    color: gray;
    display: flex;
    flex-wrap: wrap;
}
.anime{
    margin: auto;
    text-align: center;
    width: 200px;
}

.anime img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 20px;
    width: 200px;
}

.anime a {
    text-decoration: none;
}

.anime a:link, .anime a:visited {
    color: orange;
}

.anime a:hover {
    color: red;
}

.hidden{
    display: none;
}

/* dac diem footer */
footer{
    margin-top: 50px;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
} 

/* responsive rules for section */

/* reponsive rules for header */
/* @media screen and (max-width: 661px) {
    .mobile{
        display: inline-block;
    }
    .desktop{
        display: none;
    }
    .logo{
        position: relative;
        top: 40px;
    }
    header{
        height: 100px;
    }
}

