* {  
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

/* login logo */

.sign_up-logo img {
    width: 250px;
    margin: -50px -10px -50px 0;
}

/* login content */

.sign_up-content {
    width: 50vh;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;
    border: 2px solid black;
    padding: 30px 0 50px 0;   /* top right down left */
    background-color: lightgray
}

.sign_up-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sign_up-input input {
    height: 35px;
    width: 200px;
    margin: 5px;
}

.sign_up-input button {
    width: 50%;
    margin: 5px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    margin-top: 10px;
}