* {  
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

/* login logo */

.login-logo img {
    width: 250px;
    margin: -50px -10px -50px 0;
}

/* login content */

.login-content {
    width: 50vh;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;
    border: 2px solid black;
    padding: 50px 0 50px 0;   /* top right down left */
    background-color: lightgray
}

.login-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login-input input {
    height: 35px;
    width: 200px;
    margin: 5px;
}

.login-input button {
    width: 50%;
    margin: 5px;
    height: 30px;
    width: 100px;
    font-size: 15px;
}

.login-link {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-link a {
    padding: 2px;
    text-decoration: none;
    color: black;
}

.login-link a:hover {
    text-decoration: underline;
}